.card-list{
    padding: 10px 5px;
    display: inline-block;
    margin: 14px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 4px;
    box-sizing: content-box !important;
    height: auto !important;
    width: 30%;
    background: #f2f2f2
}

.card-list:hover{
    background: #98AFC7;
}


