body{
    background: #eeeeee;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
html {
    width: 100%;
    height: 100%;
  }

.contents{
    display: inline-block;
    width: 100%;
    margin:0 auto;  
    
}

#searchInput{
    width: 60%;
    padding: 12px 20px;
    margin: 35px 10px 10px 10px;
    box-sizing: border-box; 
}



.locateMe{
    background-color: #c54e5e;
    border: none;
    width: 190px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    margin: 6px -15px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.locateMe:hover{
    background-color: #fa0425;
}

.location{
    margin:20px 0px;
    font-size: 20px;
    font-weight: bold;
}


